.navbar3 {
    background-color: rgb(137, 137, 223);
    padding: 20px;
    font-size: 20px;
    width: 100%;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 1000;
    /* margin-bottom:50px; */
  }
  
  .nav-link {
    color: white; /* Example color for the links in the navbar */
    text-decoration: none;
    margin-right: 20px;
    margin-left:20px;
  }
  
  .nav-link:hover {
    color:black;
    
  }
  body {
 
    background-color:white;
    font-family: Arial, sans-serif;
  }
  .nav-link {
    color: white; /* Example color for the links in the navbar */
    text-decoration: none;
    margin-right: 20px;
    margin-left:20px;
  }
  
  .nav-link:hover {
    color:black;
    
  }
  .h23{
    margin-top:-40px;
    margin-left:100px;
    text-align: center;
    color:green
  }
  .h44{
    margin-top:10px;
    margin-left:100px;
    text-align: center;
    color:green;
  }
  